async-generator
attrs
certifi
cffi
charset-normalizer
click
colorama
et-xmlfile
h11
html5lib
idna
lxml
keyring
numpy
openpyxl
outcome
packaging
pandas
pycparser
PySocks
python-dateutil
python-dotenv
pytz
requests
selenium
six
sniffio
sortedcontainers
sqlalchemy
selenium-wire
tqdm
trio
trio-websocket
urllib3
webdriver-manager==4.0.0
webencodings
wsproto
XlsxWriter
