async-generator
attrs
certifi
cffi
charset-normalizer
click
colorama
et-xmlfile
h11
html5lib
idna
lxml
numpy
openpyxl
outcome
packaging
pandas
pycparser
PySocks
python-dateutil
python-dotenv
pytz
requests
selenium
six
sniffio
sortedcontainers
tqdm
trio
trio-websocket
urllib3
webdriver-manager
webencodings
wsproto
XlsxWriter
