<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hola, Se ha terminado de generar el scraping de la tienda <strong>{ place }</strong> </h3>
    <table>

        <tr>
            <th>Cantidad en base de datos</th>
            <th>Cantidad de elementos guardados</th>
            <th>Cantidad Total</th>
        </tr>

        <tr>
            <td>{ cantidad }</td>
            <td>{ cantidad_elementos }</td>
            <td>{ cantidad_total }</td>
        </tr>

    </table>
    <hr>
    <br>
    <h4>Correspondiente a la fecha</h4>

    <span>Cordial Saludo</span>
</body>
</html>